#profile {
	position: absolute; bottom: 1em; left: 50%; 
	transform: translateX(-50%);
	text-align: center;
	perspective: 800px;
		
	.wrapper{
		border-radius: 100%;
			
		.photo {
			width: 115px;
			height: 115px;
			position: relative;
			margin-bottom: 2em;
			transform: scaleX(100%) scaleY(100%);
			transform-origin: center center;
			transition: transform 350ms, opacity 350ms;
			opacity: 1;
			
			.side {
				border-radius: 100%;
				background: $grey;
				position: absolute; top: 0; left: 0; right: 0; bottom: 0;
				box-shadow: 0px 0px 16px black;
				width: auto;
				
				.content {
					position: absolute; top: 50%; left: 0; right: 0;
					transform: translateY(-50%);
				}
			
			&.front{
				background-image: url(../img/bhw/bhw@1x.jpg);
				background-repeat: no-repeat;
				background-size: 115px 115px;
				border: 2px solid $white;
			}
			@include mobile-device{
				box-shadow: 0px 0px 100px black;
			}
			}
		
		
		&.hide{
			opacity: 0;
			transform: scaleX(0) scaleY(0);
		}
			
		&.flip{
		}
		}//.photo
	
	&:focus{
		//outline: none;
	}
	
	}//.wrapper
	

.preload {
	display: none;
}

}//#profile

#contact {
	
	.primary {
		
		a{

		&.linkedin{
			display: inline-block;
			padding: .25em;
			background: #fff;
		}
			
		}
	}
	
	.secondary {
		text-align: left;
		
		form {
			margin: 4em 2em 0 2em;	
			
			div{
	
				p {

					label{
						display: none;
						margin-bottom: 5px;
					}
					
					input,
					textarea {
						font-size: 1.25;
						padding: .5em;
						width: 90%;
					}
				
					span {
						display: none;
					}
				
				&.error{
					
					span {
						display: inline;
						color: $comp2;
					}
				}
				
				
				}
			}
		
			input[type="submit"] {
				margin: 2em 0 1em;
				padding: .75em 1.5em;
				cursor: pointer;
			}
		
		@include screen-medium{
			margin: 2.5em 1em 0 2em;	
		}
		}// form
	
	@include screen-medium{
		height: auto;
	}
	}
}
