#profile {
	position: absolute; bottom: 1em; left: 50%; z-index: 200; 
	transform: translateX(-50%);
	text-align: center;
	perspective: 800px;
		
	.wrapper{
		border-radius: 100%;
			
		.photo {
			width: 115px;
			height: 115px;
			position: relative;
			margin-bottom: 2em;
			transform-style: preserve-3d;
			transform: scaleX(100%) scaleY(100%);
			transform-origin: center center;
			transition: transform 350ms, opacity 350ms;
			opacity: 1;
			
			.side {
				border-radius: 100%;
				backface-visibility: hidden;
				position: absolute; top: 0; left: 0; right: 0; bottom: 0;
				width: auto;
				
				.content {
					position: absolute; top: 50%; left: 0; right: 0;
					transform: translateY(-50%);
				}
			
			&.front{
				background-image: url(../img/bhw.jpg);
				background-repeat: no-repeat;
				box-shadow: 2px 2px 2px #333;
				background-size: 115px 115px;
				border: 2px solid $white;
			}
			&.back {
				transform: rotateY(-180deg);
			}
			&.active{
				
			}
			}
		
		
		&.hide{
			opacity: 0;
			transform: scaleX(0) scaleY(0);
		}
			
		&.flip{
			transform: rotateY(-180deg);
		}
		}
	}//.wrapper
	

.preload {
	display: none;
}

}//#profile

#background {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -10;
	background-size: cover;
	background-position: center center;
	background-repeat : no-repeat;
	opacity: 0;
	filter: blur(10px);
	transition: opacity 3000ms;

&.loaded{
	opacity: .25;
}
&.focus{
	filter: blur(0);
}
}

//#contact

#contact {
	
	.primary {
		
		a{


		&.linkedin{
			display: inline-block;
			padding: .25em;
			background: #fff;
		}
			
		}
	}
	
	
	.secondary {
		text-align: left;
		
		form {
			margin: 4em 2em 0 2em;	
			
			div{
	
				p {

					label{
						display: none;
						margin-bottom: 5px;
					}
					input,
					textarea {
						font-size: 1.25;
						padding: .5em;
						width: 90%;
					}
				}
			}
		
		input[type="submit"] {
			padding: .75em 1.5em;
			cursor: pointer;
		}
		
		}// form
	}
}
