#project {
	background: $background;
	opacity: .3;
	position: absolute;
	z-index: 100;
	overflow: hidden;

	.imagery{
		float: right;
		background: white;
		width: 50%;
		height: 100%;
		overflow: hidden;
		text-align: center;
		transition: opacity 500ms;
		opacity: 0;
		position: relative;
		
		.content {
			//clear: right;
			//display: block;
		}
	
	&.hidden{
		visibility: hidden;
	}
	&.loaded{
		opacity: 1;
	}	
	@include screen-medium {
		float: none;
		width: 100%;
		height: 300px;
	}
	@include screen-small {
		height: 250px;
	}
	}

	.close {
		position: absolute; top:0; right: 0; z-index: 100;
		background-color: $background;
		transition: background-color 500ms;
		
		img{
			display: block;
		}
	&:hover{
		cursor: pointer;
		background-color: $black;
	}
	}
	
	.tabs {
		
		ul {
			list-style: none;
			margin: .5em 0;
		
			li {
			display: inline-block;
			
			
				a{
					padding: .5em;
					display: block;
					background: #333;
					color: #FFF;
					text-decoration: none;
				}
			}
		}
		
		.content {
			
			.copy{
				display: none;
			
			&.active {
				display: block
			}
			}
		}
	}

@include screen-small {
	
}	
}