#mask {
// 	background: rgba(255,0,0, .5);
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1000;
}

#interface {
	position: absolute; top: 40%; left: 0; right: 0;
	transform: translateY(-50%);
// 	background: rgba(0,255,0, .5); 
	 
	.wrapper{
		text-align: center;
	}
}

#tiles{
	width: 100%;
	margin: 0 0 1em;
	position: relative;
	list-style: none;
	
	
	> li {
		height: 300px;
		display: none;

			div.tile {
				height: 100%;
				position: relative;
					
				.side {
					position: absolute; 
					border-radius: 8px;
					left: 0;top: 0;right: 0;bottom: 0;
						
					.vcenter {
						position: absolute; 
						left: 0;top: 50%;right: 0; 
						/* centering tile content */
						transform: translateY(-50%);
					}
						
					&.back {
						
						.content {
							.source{display: block;}
							.faux{display: none;}
							}
						
						.tags {
							list-style: none;
								
							li {
								display: inline-block;	
								margin: .25em;
									
								button {
									
								&:hover{
									cursor: pointer;
								}
								}
							}
						}
					
					&.flipping{
						
						.content{
							.source{display: none;}
							.faux{display: block;}
						}
					}
					}// .back
					}// .side
			}// .tile
	
	}// li

}//#tiles

#nav {
	width: 100%;
	list-style: none;
	
	> li{

		a{
			text-shadow: 2px 2px 2px #333;
			
			border: 0;
			cursor:pointer;
			color: $grey;
				
		&.active{
			color: white;
		}		
		}	
	}
}

.controls {
		
		h1 {
			color: $white;
			font-weight: normal;
			letter-spacing: 2px;
			text-align: center;
			margin: 0 auto .25em;
		
		@include screen-medium{
			margin: 1em auto;
		}
		}
		
		
		> ul {
			list-style: none;
			margin: 0 0 .5em;
			display: table;
			width: 100%;
					
			li{
				display: table-cell;
				height: 10px;
				padding-right: 2px;
			
				a{
					display: block;
					padding: .25em;
					background-color: rgba(74,139,216, .5);
					transition: background-color 750ms;
					box-shadow: 2px 2px 2px #333;
					
					span{
						display: none;
					}
				
				&.active{
					background-color: rgba(74,139,216, 1);
				}
				}
			
			@include screen-medium {
				padding-right: 10px;
			}
			
			}
		}

@include screen-medium {
	margin: 0;
	width: 100%;
}

}//controls
