#mask {
// 	background: rgba(255,0,0, .5);
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1000;
}

#tiles{
	width: 100%;
	position: relative;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	
	> li {
		flex: 1 1 250px;
		height: 350px;
		margin: 0 3em 3em 0; 
// 		display: block;
		display: none;
// 		border: 1px solid blue;
		background: rgba(0,0,0, .15);
		perspective: 800px;

			
			div.tile {
				width: 100%;
				height: 100%;
				position: relative;
				transform-style: preserve-3d;
				transform: rotateX( -180deg ) rotateY( 0deg );
				transition: transform 750ms;
				
					.side {
						position: absolute; 
						left: 0;top: 0;right: 0;bottom: 0;
						backface-visibility: hidden;
						//transition: background-color, 1500ms;
						
						.vcenter {
							position: absolute; 
							left: 0;top: 50%;right: 0; 
							transform: translateY(-50%);
						}
						
					&.front {
						background-color: $white;
					}
						
					&.back {
						background-color: $background;
						transform: rotateX( 180deg );
						
						.content {
							.source{display: block;}
							.faux{display: none;}
							}
						
						.tags {
							list-style: none;
								
							li {
								display: inline-block;	
								margin: .25em;
									
								button {
									
								&:hover{
									cursor: pointer;
								}
								}
							}
								
					}
					&.back.transition{
						background-color: $white;
						
						.content{
							.source{display: none;}
							.faux{display: block;}
						}
					}
					}// /.back
					}// /.side
			
			&.flip-y {
				transform: rotateY( 180deg );
				
				.back{
					background-color: $grey;
					
					.content {
						opacity: 1;
					}
				}
			
			
			}
			&.notransition{transition : none;}
			
			&.flip-x {
				transform: rotateX( 0deg );
			}
			&.flip-x2 {
				transform: rotateX( -180deg );
				/* webkit bug */
				/* https://bugs.webkit.org/show_bug.cgi?id=54371 */
				//-webkit-transform: rotateX( -180deg ) translateY(1px);
			}
			}// .tile
	
	@include screen-medium{
// 		margin-bottom: 1em;
	}
	
	&.show{
		display: block;
	}
	&.hide{
		
	}
	
	}// li
}//ul



#tilenav {
	list-style: none;
	margin: 1em;
	
	li{
		display: inline-block;
		margin-right: 2px;
	
		a{
			display: block;
			padding: .25em 1em;
			background-color: rgba(74,139,216, .5);
			transition: background-color 750ms;
			
			span{
				display: none;
			}
		
		&.active{
			background-color: rgba(74,139,216, 1);
		}
		}
	}
}