#mask {
// 	background: rgba(255,0,0, .5);
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1000;
}

#interface {
	display: flex;
	flex-flow: column nowrap; 

	.wrapper{
		flex: 0 1 auto;
		text-align: center;
	}
&.mobile {
	flex-flow: column-reverse nowrap;
}
}


#tiles{
	width: 100%;
	margin: 2em 0;
	position: relative;
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	
	> li {
// 		flex: 1 1 250px;
		flex: 1 1 25%;
		height: 350px;
		margin-right: 2em;
// 		margin: 0 3em 3em 0; 
		display: none;
		background: rgba(0,0,0, .15);
		perspective: 800px;

			div.tile {
				width: 100%;
				height: 100%;
				position: relative;
				transform-style: preserve-3d;
				transform: rotateX( -180deg ) rotateY( 0deg );
				transition: transform 750ms;
				
					.side {
						position: absolute; 
						left: 0;top: 0;right: 0;bottom: 0;
						backface-visibility: hidden;
						//transition: background-color, 1500ms;
						
						.vcenter {
							position: absolute; 
							left: 0;top: 50%;right: 0; 
							transform: translateY(-50%);
						}
						
					&.front {
						background-color: $white;
					}
						
					&.back {
						background-color: $background;
						transform: rotateX( 180deg );
						
						.content {
							.source{display: block;}
							.faux{display: none;}
							}
						
						.tags {
							list-style: none;
								
							li {
								display: inline-block;	
								margin: .25em;
									
								button {
									
								&:hover{
									cursor: pointer;
								}
								}
							}
								
					}
					&.back.transition{
						background-color: $white;
						
						.content{
							.source{display: none;}
							.faux{display: block;}
						}
					}
					}// /.back
					}// /.side
			
			&.flip-y {
				transform: rotateY( 180deg );
				
				.back{
					background-color: $grey;
					
					.content {
						opacity: 1;
					}
				}
			
			
			}
			&.notransition{transition : none;}
			
			&.flip-x {
				transform: rotateX( 0deg );
			}
			&.flip-x2 {
				transform: rotateX( -180deg );
				/* webkit bug */
				/* https://bugs.webkit.org/show_bug.cgi?id=54371 */
				//-webkit-transform: rotateX( -180deg ) translateY(1px);
			}
			}// .tile
	
	@include screen-medium{
// 		margin-bottom: 1em;
	}
	
	&.show{
		display: block;
	}
	
	}// li

}//#tiles

#nav {
	margin: 0 0;
	padding: 0 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	
	button{
		display: inline !important;
		background: none;
		border: 0;
		cursor:pointer;
		color: $grey;
			
	&.active{
		color: white;
	}	
	}
		
}


.controls {
		
		h1 {
			color: $white;
			font-weight: normal;
			letter-spacing: 2px;
			text-align: center;
			margin: 0 auto .25em;
		}
		
		
		ul {
			list-style: none;
			margin: 0 0 .5em;
			display: table;
			width: 100%;
		
			li{
				display: table-cell;
				padding-right: 2px;
			
				a{
					display: block;
					padding: .25em;
					background-color: rgba(74,139,216, .5);
					transition: background-color 750ms;
					
					span{
						display: none;
					}
				
				&.active{
					background-color: rgba(74,139,216, 1);
				}
				}
			
			.mobile &{
				padding-right: 10px;
			}
			
			}
		}
}//controls
