@mixin screen-full {
	@media screen and (min-width: #{$screen-large}){
		@content;
	}
}

@mixin screen-xlarge {
	@media screen and (max-width: #{$screen-full} ){
		@content;
	}
}

@mixin screen-large {
	@media screen and (max-width: #{$screen-large} ){
		@content;
	}
}

@mixin screen-medium {
	@media screen and (max-width: #{$screen-medium}) {
		@content;
	}
}

@mixin screen-small {
	@media screen and (max-width: #{$screen-small}){
		@content;
	}
}

@mixin line-link {
	
	font-size: 1.0625em;
	font-weight: 300;
	padding: .25em 0;
	border: 1px solid transparent;
	text-shadow: 2px 2px 2px $black;
	color: $grey;
	cursor: pointer;
	
	&:hover{
		border-top-color: $grey;
		border-bottom-color: $grey;
	}
	&.active{
		border-top-color: $white;
		border-bottom-color: $white;
		color: $white;
	}
}

@mixin tile-border {
	border-width: 1px;
	border-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
	border-right-color: $white;
	border-bottom-color: $white;
}