// Fonts
/*
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,400i,600);	
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
*/

// Colors 
$orange	:	#EF4136;
$grey	:	#9797A6;
$white	: 	#FFF;
$black	: 	#333;
$background: #CCC;

// Viewport sizes 
$screen-full : 1324px;
$screen-large : 1024px;
$screen-medium : 768px;
$screen-small : 500px;