<!DOCTYPE html>
<html class="no-js">
<head>
	<title>Portfolio Site</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--bower:css -->
	<!--endbower-->
	<!--inject:css -->
	<!--endinject-->
</head>
<body>
	<div id="container">
	<h1>Portfolio</h1>
		<ul id="main">
			<li><button id="fav">fav</button></li>
			<li><button id="logo-design">logo design</button></li>
			<li><button id="web-design">web design</button></li>
			<li><button id="html-js">html/js</button></li>
		</ul>
	</div>
		
	<!--bower:js -->
	<!--endbower-->
	<!--inject:js -->
	<!--endinject-->
</body>
</html>