<!DOCTYPE html>
<html class="no-js">
<head>
	<title>Portfolio Site</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--bower:css -->
	<!--endbower-->
	<!--inject:css -->
	<!--endinject-->
</head>
<body>
	<div id="container">
	<h1>Portfolio</h1>
		<div id="main">
			<button id="fav">fav</button>
			<button id="logo-design">logo design</button>
			<button id="web-design">web design</button>
			<button id="html-js">html/js</button>
		</div>
	</div>
		
	<!--bower:js -->
	<!--endbower-->
	<!--inject:js -->
	<!--endinject-->
</body>
</html>