html,
body {
	height: 100%;
};

body {
	overflow: hidden;
	position: relative;
}

#container {
	position: absolute; top: 2em; right: 2em; bottom: 2em; left: 2em;

	@include screen-medium {
		top: 1em;left: 1em;right: 1em;bottom: 1em;
		}
	
	@include screen-medium-landscape {
		top: .5em;left: 1em;right: 1em;bottom: 0;
		min-height: 350px;
	}
		
	@include screen-small {
		top: .5em; right: .5em; bottom: .5em; left: .5em;
		min-height: 400px;
	}
}

