body {
	background: $black;
	font-family: $roboto;
	color: $black;		
}

img {
	max-width: 100%;
	height: auto;
}

/* =========== NAV =========== */

#nav {
	
	> li > a {
		
		@include line-link;

	}
	
}

.controls {
		
	h1 {
		letter-spacing: 2px;
		font-size: 2em;
		font-weight: 400;
		padding: 0 1em;
		text-shadow: 1px 1px 4px $black;
	
	@include mobile-device {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	}
	
	a {
		background-color: rgba(255,255,255, .25);
	&.active{
		background-color: $comp1;
	}	
	}
}


/* =========== UL ============ */

div.tile {
	
	.side {
		background: #FFF;
					
		.content {
			padding: 1em;
			text-align: center;
			
			h1 {
				font-size: 1.625em;
				color: $black;
			
			@include screen-medium {
				font-size: 1.25em;
			}
			}
						
			p {
				font-size: .9375em;
				line-height: 1.5em;
				text-align: left;
				margin-bottom: 1em;
			}
			
			.tags{
				font-size: .9375em;

				button {
					background: rgba(255,255,255, .9);
					border-radius: 0;
					border:1px solid white;
					padding: .35em .5em;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					color: $black;
					text-shadow: 1px 1px 0px white;
					
					&:hover{
						color: $comp1;
					}
				}
			}// .tags
		}
	&.back{
		background: $grey;
	}	
	}// /.side

.no-flexbox &{
	
	.side {
		.content {
			.tags {
				button {
					background: $coolgrey;
					color: $white;
					text-shadow: none;
					border:1px solid $grey;
				
				&:hover{
					color: $comp1;
				}
				}
			}
		}
	}
}
}//.tile

#project {
	
	.primary  {
		
		a{
			color: $comp2;
		}
	}
	
	.tabs  {
		
		ul {
		
			li {
			
				a{
					font-size: 1.0625em;
					background: $coolgrey;
					padding: .35em .5em;
					color: #FFF;
					font-weight: 300;
	
				&.active{
					background: rgba(255,255,255, .7);
					color: $coolgrey;
					font-weight: 400;
				}
				}
			}
		}
		
		.content {
			background: rgba(255,255,255, .7);
		}
	}// .tabs
	
	
}

/* =========== HEADERS ============ */

h1 {
	font-family: $oxygen;
	font-weight: 700;
	margin: 0 0 .5em;
}

h2 {
	font-weight: 500;
	margin: 0 0 .75em;
}

p {
	font-weight: 300;
	margin-bottom: 1.5em;
	line-height: 1.6em;
}


#profile {
		
	a.contact {
		cursor: pointer;
		font-size: .9375em;
		color: $black;
		text-shadow: 1px 1px 0px $white;
	
	&:hover{
		color: $comp1;
	}
	}
	
	a.me {
		@include line-link;
	}
}

#contact {
	
	.secondary {
	
		form {
			input[type="text"],
			input[type="email"],
			textarea {
				color: $comp1;
				font-weight: 400;
				border: 1px solid $grey;
				border-right-width: 4px;
			
			&.error{
				border-color: $comp2;
			}
			
			&.valid{
				border-color: green;
			}
			&.valid:after{
				content: '\2605';
			}
			}
			
			textarea{
				resize: none;
			}
		
			input[type="submit"] {
				border: 0;
				color: white;
				background: $comp1;
			
			&:hover{
				background: $comp1;
			}	
			}
		}	
	}	
}

