body {
	background: $background;
}

img {
	max-width: 100%;
	height: auto;
}

/* =========== NAV =========== */


/* =========== UL ============ */


div.tile {
				
	.side {
		background: #FFF;
					
		.content {
			padding: 1em;
			text-align: center;
			
			h1 {
				font-size: 1.875em;
			}
						
			p {
				font-size: .9375em;
				line-height: 1.5em;
				text-align: left;
				margin-bottom: 1em;
			}
		}
	
	&.back {
		background: #E4E4E4;
	}
	}// /.side
}

#project {
	
	.tabs {
		font-size: .9em;
		
		ul {
			
			li {
			
				a{
					background: #999;
					color: #FFF;
					margin-right: 1px;
					
				&:hover{
					background: #777;
				}
				&.active{
					background: #333;
				}
				}
			}
		}
	}
}

/* =========== HEADERS ============ */

#container > h1 {
	display:inline-block;
	vertical-align: top;
	margin: 0 1em .5em 0;
}