body {
	background: #CCC;
}

img {
	max-width: 100%;
	height: auto;
}

/* =========== UL ============ */

div.tile {
				
	.side {
		background: #FFF;
					
		.content {
			padding: 1em;
			text-align: center;
			
			h1 {
				font-size: 1.875em;
			}
						
			p {
				font-size: .9375em;
				line-height: 1.5em;
				text-align: left;
				margin-bottom: 1em;
			}
		}
	
	&.back {
		background: #E4E4E4;
	}
	}// /.side
}


.tags {
	list-style: none;
	font-size: .9em;
	
	li {
		display: inline-block;
		margin: .25em;
		
		a{
			padding: .35em;
			display: block;
			
			background: #666;
			color: #FFF;
			text-decoration: none;
		
		&:hover{
			background: #999;
		}
		&.active{
			background: blue;
		}
		}
	}
}